<div class = "container">
  <% shop = @shops.first %>
<h2>Hello <%= shop.user.first_name%>,</h2> <br><p>here are all the shops you have on our platform!</p>
<hr>


  <% @shops.each do |shop| %>
    <%= shop.title %>
  <% end %>
</div>
