<h1>Welcome to the Shop SHOW page!</h1>





<!-- if user.id == current_user, we show this button-->

<button> Add a new unit to your Shop </button>

<h3>Here are all your Units</h3>

<div>
  <% @units.each do |unit| %>
  <%= unit.description %>
  <%= cl_image_tag unit.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
</div>
