<div class="page-container">
  <div class="head">
   <h1>SimpleRent</h1>
  </div>


  <% unless signed_in? %>
    <div class="intro">
      <p>WELCOME To SimpleRent</p>
      <h4>Your one-stop shop for rentals.</h4>
      <%= link_to "Explore", units_path, class: "books-now"%>

    </div>

    <div class="input-container">
      <input type="text" placeholder="Search">
    </div>
  <%end%>

  <% if signed_in? %>
    <div class="home_intro">
      <h4>The one stop shop to rent and rent out anything.</h4>
      <%= link_to "Explore", units_path, class: "books-now"%>
    </div>
  <%end%>






</div>
