<div class="page-container">
  <div class="head">
   <h1>SimpleRent</h1>
  </div>


    <div class="home_intro">
      <h4>The one stop shop to rent and rent out anything.</h4>
      <%= link_to "EXPLORE", units_path, class: "books-now"%>
    </div>






</div>
