.book-form-container {
  border: 1px solid #F5C53D;
  border-radius: 5px;
  height: 300px;
}

.calendar-img-container {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
}

.calendar-img {
  width: 100%;
}
