.page-container{
  background-color: #F9F9F9;
  background-size: cover;
  height: 100%;
  position: relative;
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),  url("https://images.pexels.com/photos/5632388/pexels-photo-5632388.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: Rammetto One;
}

.home_intro {
  text-align: center;
  margin-top: 8%;
}

.explore {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.books-now {
  text-decoration: none;
  color: black;
  font-family: "Rammetto One";
  font-size: 30px;
  border: 1px solid black;
  border-radius: 10px;
  background: none;
  padding: 10px;
  display:inline-block;
  background-color: #F5C53D;
  margin-top: 3%;
  width: 25%;
}

.books-now:hover {
  background-color: black;
  border: none;
  color: #F5C53D;
  border-radius: 3px;
}

.page-container h1{
  font-family: "Rammetto One";
  font-size: 60px;
}

.page-container h4{
  color: white;
}


.page-container p {
  font-family: "Work Sans", "Helvetica", "sans-serif";
  color: white;
  font-size: 15px;
}
